* {
  margin: 0%;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
  background-color: #121212;
}
.line1 {
  margin-left: 12%;
  margin-right: 12%;
}
.line2 {
  margin-left: 12%;
  margin-right: 12%;
}
.line3 {
  margin-left: 12%;
  margin-right: 12%;
}
.name {
  text-decoration: none;
  color: white;
  text-align: left;
  transition: 2s;
  font-family: sans-serif;
  font-size: 350%;
  background-color: #333;
}
.logo {
  padding-left: 12%;
  padding-right: 12%;
  background-color: #333;
}
.name:hover {
  text-decoration: underline;
}
.logo {
  /* padding-bottom: 2rem; */
  align-items: left;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  padding-top: 2%;
}
.blogs {
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blogs p {
  color: #667380;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.blogs a {
  text-decoration: none;
  color: #58a6ff;
  transition: 2s;
  font-size: 190%;
}
.blogs a:hover {
  text-decoration: underline;
}

.body p {
  padding-top: 12px;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 20px;
  font-weight: 100;
  line-height: 32px;
  color: white;
}
.body a {
  text-decoration: none;
  color: cornflowerblue;
}
.body a:hover {
  text-decoration: underline;
}
.title {
  padding-top: 2%;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 200%;
  color: white;
  font-weight: 30000%;
}

.contacts {
  text-align: center;
  margin-top: 2rem;
}

.contacts p {
  padding-bottom: 12px;
  text-decoration: underline;
  color: white;
  font-size: 150%;
}

.contacts a {
  color: cornflowerblue;
  transition: 0.2s;
  justify-content: space-between;
}
.contacts a:hover {
  color: white;
  background-color: #333;
}
#youtube {
  padding-left: 10px;
  padding-right: 10px;
}
#twitter {
  padding-left: 10px;
  padding-right: 10px;
}
#reddit {
  padding-left: 10px;
  padding-right: 10px;
}
#mail {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  * .name,
  .logo,
  .blogs,
  .blogs p,
  .body,
  .body p,
  .contacts,
  .contacts p {
    padding-left: 12px;
    padding-right: 12px;
  }
  .title,
  .title p {
    padding-left: 12px;
    padding-right: 12px;
  }
  .line1,
  .line2,
  .line3 {
    margin-left: 0;
    margin-right: 0;
  }
  .logo {
    padding-top: 16px;
  }
  .blogs {
    padding-left: 1%;
  }
}
